<a href="https://colab.research.google.com/github/minibrixie/module19_exam_lunar/blob/main/module19_exam_lunar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
filename = '/content/drive/MyDrive/Lunar_Activity/titanic.csv'
df = pd.read_csv(filename)

In [4]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [7]:
passengerid_percentage = df['PassengerId'].mean() * 100
print("\nPercentage of people who passengerid: {:.2f}%".format(passengerid_percentage))

Percentage of people who passengerid: 44600.00%

In [8]:
sex_passengerid_count = df.groupby('Sex')['PassengerId'].sum()
print("\nNumber of passengerid by sex:")
print(sex_passengerid_count)

Number of passengerid by sex:
Sex
female    135343
male      262043
Name: PassengerId, dtype: int64

In [11]:
cheap_ticket_passengerid_percentage = (df[df['Fare'] < 10]['PassengerId'].mean()) * 100
print("\nPercentage of passengers who paid less than $10 and passengerid: {:.2f}%".format(cheap_ticket_passengerid_percentage))

Percentage of passengers who paid less than $10 and passengerid: 45116.96%

In [12]:
average_age_not_passengerid = df[df['PassengerId'] == 0]['Age'].mean()
print("\nAverage age of those who had a passengerId: {:.2f}".format(average_age_not_passengerid))

Average age of those who had a passengerId: nan

In [13]:
average_age_passengerid = df[df['PassengerId'] == 1]['Age'].mean()
print("\nAverage age of those who did passengerid: {:.2f}".format(average_age_passengerid))

Average age of those who did passengerid: 22.00

In [14]:
average_age_by_passengerid_and_name = df.groupby(['PassengerId', 'Name'])['Age'].mean()
print("\nAverage age of those who did and didn't passengerid grouped by name:")
print(average_age_by_passengerid_and_name )

Average age of those who did and didn't passengerid grouped by name:
PassengerId  Name
1            Braund, Mr. Owen Harris                                22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Thayer)    38.0
3            Heikkinen, Miss. Laina                                 26.0
4            Futrelle, Mrs. Jacques Heath (Lily May Peel)           35.0
5            Allen, Mr. William Henry                               35.0
                                                                    ...
887          Montvila, Rev. Juozas                                  27.0
888          Graham, Miss. Margaret Edith                           19.0
889          Johnston, Miss. Catherine Helen "Carrie"                NaN
890          Behr, Mr. Karl Howell                                  26.0
891          Dooley, Mr. Patrick                                    32.0
Name: Age, Length: 891, dtype: float64